.mobile-bottom-nav {
  display: none;
  @media screen and (max-width: 596px) {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5rem;
    background: $grey-100;
    padding-top: 1rem;
    &__list {
      display: flex;
      justify-content: space-between;
      padding: 0 0.6rem;
      &__item {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        color: $grey-200;
        font-weight: 700;
        &__active {
          color: black;
        }
      }
    }
  }
}
