.sidebar {
  background: $grey-100;
  padding: 6rem 2rem 2rem;
  height: 100vh;
  width: 16vw;
  position: fixed;
  @media screen and (max-width: 1400px) {
    width: 17vw;
  }
  @media screen and (max-width: 1200px) {
    padding: 6rem 1rem 2rem;
  }
  @media screen and (max-width: 990px) {
    width: 9vw;
  }
  @media screen and (max-width: 596px) {
    display: none;
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 3rem;
    cursor: pointer;
    img {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      border-radius: 8px;
      @media screen and (max-width: 1400px) {
        width: 2rem;
        height: 2rem;
      }
    }
    &__text {
      font-size: 1.7rem;
      color: $black;
      @media screen and (max-width: 1400px) {
        font-size: 1.2rem;
      }
      @media screen and (max-width: 990px) {
        display: none;
      }
    }
  }
  &__list {
    margin-top: 7rem;
    &__item {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 2rem 0;
      color: $grey-200;
      font-size: 1.5rem;
      font-weight: 700;
      cursor: pointer;
      @media screen and (max-width: 1400px) {
        font-size: 1.2rem;
      }
      @media screen and (max-width: 1200px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 990px) {
        span {
          display: none;
        }
      }
      svg {
        margin-right: 1rem;
        @media screen and (max-width: 990px) {
          font-size: 2rem;
        }
      }
      &__active {
        color: $black;
      }
    }
  }
  &__bottom {
    position: absolute;
    bottom: 7rem;
    width: 80%;
    text-align: center;
    @media screen and (max-width: 1200px) {
      display: none;
    }
    &__nav {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      button {
        border-radius: 8px;
        cursor: pointer;
        svg {
          font-size: 2rem;
          @media screen and (max-width: 1400px) {
            font-size: 1.4rem;
          }
        }
      }
    }
    h5 {
      font-size: 1rem;
      span {
        color: blue;
      }
      @media screen and (max-width: 1200px) {
        font-size: 0.9rem;
      }
    }
  }
}
